*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
   display: flex;
   margin: 10px 40px;
   justify-content:space-between;
   align-items: center;
}
.left-nav{
   margin-left: 100px;
   display: flex;
   align-items: center;
   gap: 5px;
   color:  rgb(41,71,169);
   
}
.left-nav h2{
   align-items: center;
   justify-content: center;
}
.right-nav ul{
   margin-right: 20px;
   gap: 40px;
   display: flex;
   list-style-type: none;
}
.right-nav li{
   padding:10px;
}
.right-nav a {
   text-decoration: none;
   color: black;
   font-weight: 500;
}
.right-nav a:hover{
   border-radius: 10px;
   padding: 10px;
   transition: ease-in .2s;
   background-color: #3f67eb;
}
.hero-image img{
   width: 100%;
}
.description{
   margin-top: 50px;
}
.description h2 {
   text-align: center;
   font-weight:bold 15px;
}
.service{
   flex-wrap: wrap;
   margin-top: 50px;
   display: flex;
   justify-content: space-evenly;
}
.card{
   margin-bottom: 20px;
   padding: 10px;
   border-radius: 3px;
   width: 300px;
   border: solid rgb(220,223,231);
}
.card  p{
   margin-top: 8px;
}
.about{
   position: relative;
   margin-top: 50px;
}
.about img{
   margin-left: 200px;
   height: 500px;
}
.about-us{
   border-radius: 5px;
   position: absolute;
   right: 300px;
   top: 40px;
   width: 300px;
   height: 400px;
   padding: 20px;
   background-color: #2947a9;
   color: white;
}
.about-us h2{
   margin-top: 20px;
}
.about-us p{
   margin-top: 50px;
   margin-bottom: 30px;
}
.about-us button{
   padding: 10px;
   border-radius: 5px;
   border-style: hidden;
}
.services{
   background-color: rgb(246,248,247);
}
.services h2{
   padding-top: 20px;
   text-align: center;
}
.main-service{
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   margin: 30px 87px 15px 150px;
   justify-content: space-evenly;
}
.card-default{
   background-color: white;
   padding: 20px;
   border-radius: 5px;
   width: 250px;
   height: 150px;
   margin-bottom: 50px;
   margin-right: 50px;
}
.card-blue{
   margin-right: 50px;
   background-color: #2947A9;
   padding: 20px;
   border-radius: 5px;
   width: 250px;
   height: 150px;
   margin-bottom: 50px;
}
.main-service img {
   height: 40px;
}
.card-default img{
   margin: auto;
   display: block;
}
.card-blue img{
   margin: auto;
   display: block;
}
.main-service h3{
   padding: 30px;
   text-align: center;
   font-size: 15px;
}
.experience{
   margin: 50px 100px 50px 150px;
   margin-top:50px;
   display: flex;
   position: relative;

}
.accomplishment{
   display: flex;
   flex-wrap: wrap;
   width: 500px;
   justify-content: center;
   align-items: center;

}
.card-default1{
   position: relative;
   border: solid black;
   padding: 15px;
   border-radius: 5px;
   width: 200px;
   height: 120px;
   margin-bottom: 50px;
   margin-right: 50px;
}
.card-ilus{
   position: absolute;
   left: 160px;
   top: -30px;
}
.accomplishment h3{
   margin-top: 20px;
   font-size: 13px;
}
.right-experience{
   position: absolute;
   right: 20%;
   width: 250px;
   height: 600px;
}
.right-experience h1{
   color:  #2947A9;
   margin-top: 20px;
}
.right-experience p{
   color: #bec1cc;
   margin-top: 30px;
   margin-bottom: 20px;
}
.right-experience button{
   margin-top: 20px;
   padding: 10px 30px 10px 30px;
   background-color: #2947A9;
   border-radius: 5px;
   color: white;
   border : none;  
}
.ads {
   display: flex;
   position: relative;
   margin-bottom: 30px;
}
.ads img{
   width: 100%;
   z-index:-1;
   position: absolute;
}
.leftads{
   padding: 100px;
   color: white;
}
.lefhand{
   margin: auto;
}
.lefhand button {
   color: white;
   padding: 20px;
   border-radius: 10px;
   border:solid 1px  white;
   background-color: transparent;
}
.form{
   margin-top: 60px;
}

.text_form h3,p{
   text-align: center;
}
.form_type{
   width: 40%;
   margin: auto;
   text-align: center;
}
input[type=text], select {
   margin: auto;
   padding: 12px 20px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 input[type=textarea], select {
   margin: auto;
   width: 73%;
   padding: 12px 20px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 input[type=submit], select {
   margin: auto;
   font-size: 14px;
   background-color:#2947A9;
   color: white;
   padding: 12px 60px ;
   margin: 10px 50px;
   border: none;;
   border-radius: 4px;
 } 
/* Media Screen Responsive */
@media (max-width: 768px){
   .right-nav{
      display: none;
   }
   .right-experience{
      position: static;
      display: block;
      justify-content: center;
      align-items: center;;
      margin: auto;
   }
   .experience{
      display: block;
   }
   .accomplishment{
      display: block;
   }
   .ads{
      display: block;
      margin: auto;
   }
   .ads img{
      display: none;
   }
   .leftads{
      color: black;
      margin : auto;
   }
   .lefhand button {
      margin: auto;;
      color: black;
      padding: 20px;
      border-radius: 10px;
      border:solid 1px  black;
      background-color: transparent;
   }
}
   

